{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": "65"
        },
        "modules": "commonjs"
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-modules-commonjs"
  ]
}